*, *:before, *:after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

body {
	font-family: Quicksand;
	font-size: 16px;
	font-weight: 400;
	line-height: 27px;
	color: #333;	
	margin: 0;
	scroll-behavior: smooth;
}

// Form

.app-title {
	text-align: center;
	margin: 20px;
}

.main__form {
	display: flex;
	flex-direction: column;
	max-width: 300px;
	margin: 0 auto;
}

#sendjson {
	margin: 10px 10px;
}

.multiple__input {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
